161.35.251.91:80 {
	handle /api/* {
		reverse_proxy backend:8080
	}
	handle /* {
		reverse_proxy  web:4200
	}
}

# localhost:80 {
# 	handle /api/* {
# 		reverse_proxy backend:8080
# 	}
# 	handle /* {
# 		reverse_proxy  web:4200
# 	}
# }