<h2 class="h2 pt-3 pb-2">Tenants</h2>
<div class="btn-toolbar mb-2 mb-md-0">
  <div class="btn-group me-2">
    <button type="button" class="btn btn-sm btn-outline-secondary" (click)="onOpenModal()" type="button" data-bs-toggle="modal" data-bs-target="#createUserModal" >Add User</button>
  </div>
  <form class="form-inline my-2 my-lg-0">
    <input type="search" (ngModelChange)="searchUser(key.value)" #key="ngModel" ngModel name="key" id="searchExpense" class="form-control mr-sm-2" placeholder="Search" aria-label="Search">
  </form>
</div>
<br>
<ul *ngFor="let user of users" class="list-group">
  <li class=" ">
    <div class="row">
      <div class="col-sm">{{user.id}} </div>
      <div class="col-sm">{{user.firstName}} {{user.lastName}}</div>
      <div class="col-sm">{{user.role}}</div>
      <div class="col-sm">{{user.email}}</div>
      <div class="col-sm">{{user.phone}}</div>
      <div>
        <div class="float-right btn-group btn-group-sm center">
          <a (click)="onOpenModal(user)" type="button" data-bs-toggle="modal"  data-bs-target="#readUserModal"><i class="fa fa-eye float-centered">view</i> </a>
          <a (click)="onOpenModal(user)" type="button" data-bs-toggle="modal" data-bs-target="#updateUserModal"><i class="fa fa-pencil float-centered">update</i></a>
          <a (click)="onOpenModal(user)" type="button" data-bs-toggle="modal" data-bs-target="#deleteUserModal"><i class="fa fa-times float-centered">delete</i></a>
      </div>
      </div>
    </div>
  </li>
</ul>
<div *ngIf="users?.length==0">
<div class="alert alert-secondary" role="alert">
  No users 
</div>
</div>
<div class="container">
<div class="modal fade" id="createUserModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form #createForm="ngForm" (ngSubmit)="onCreateUser(createForm)">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Create new User</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="name" class="col-form-label">firstName:</label>
            <input type="text" ngModel="{{user?.firstName}}" class="form-control" id="firstName" name="firstName" required>
          </div>
          <div class="form-group">
            <label for="name" class="col-form-label">lastName:</label>
            <input type="text" ngModel="{{user?.lastName}}" class="form-control" id="lastName" name="lastName" required>
          </div>
          <div class="form-group">
            <label for="name" class="col-form-label">Email:</label>
            <input type="text" ngModel="{{user?.email}}" class="form-control" id="email" name="email" required>
          </div>
          <div class="form-group">
            <label for="name" class="col-form-label">Password:</label>
            <input type="text" ngModel="{{user?.password}}" class="form-control" id="password" name="password" required>
          </div>
          <div class="form-group">
            <label for="name" class="col-form-label">Role:</label>
            <input type="text" ngModel="{{user?.role}}" class="form-control" id="role" name="role"  required>
          </div>
          <div class="form-group">
            <label for="name" class="col-form-label">phone:</label>
            <input type="text" ngModel="{{user?.phone}}" class="form-control" id="phone" name="phone"  required>
          </div>
          <div class="form-group">
            <label for="name" class="col-form-label">ImageUrl:</label>
            <input type="text" ngModel="{{user?.imageUrl}}" class="form-control" id="imageUrl" name="imageUrl" required>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" id="createClose" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" [disabled]="createForm.form.invalid" class="btn btn-primary">Create</button>
      </div>
    </form>
    </div>
  </div>
</div>

<div class="modal fade" id="readUserModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Read User</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <div class="modal-body">
        <div class="list-group-item bg-body-tertiary rounded-3 pt-3 pb-2">
          <div class="row">
            <div class="col-3">
                <h5 class="mb-0">firstName</h5>
            </div>
            <div class="col-9">
                <p class="text mb-0">{{user?.firstName}}</p>
            </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-3">
              <h5 class="mb-0">lastName</h5>
          </div>
          <div class="col-9">
              <p class="text mb-0">{{user?.lastName}}</p>
          </div>
      </div>
      <hr>
          <div class="row">
              <div class="col-3">
                  <h5 class="mb-0">Email</h5>
              </div>
              <div class="col-9">
                  <p class="text mb-0">{{user?.email}}</p>
              </div>
          </div>
          <hr>
          <div class="row">
              <div class="col-3">
                  <h5 class="mb-0">Password</h5>
              </div>
              <div class="col-9">
                  <p class="text mb-0">{{user?.password}}</p>
              </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-3">
                <h5 class="mb-0">role</h5>
            </div>
            <div class="col-9">
                <p class="text mb-0">{{user?.role}}</p>
            </div>
        </div>
        <div class="row">
          <div class="col-3">
              <h5 class="mb-0">Phone</h5>
          </div>
          <div class="col-9">
              <p class="text mb-0">{{user?.phone}}</p>
          </div>
      </div>
        <hr>
        <div *ngIf="user?.imageUrl!= null" class="row">
          <div class="col-3">
              <h5 class="mb-0">image</h5>
          </div>
          <div class="col-9">
            <img src="{{user?.imageUrl}}"  class="img-fluid rounded-circle w-60">
          </div>
      </div>
      </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="updateUserModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form #updateForm="ngForm" (ngSubmit)="onUpdateUser(updateForm)">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Update User</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="name" class="col-form-label">firstName:</label>
            <input type="text" ngModel="{{user?.firstName}}" class="form-control" id="firstName" name="firstName" value="{{user?.firstName}}" required>
          </div>
          <div class="form-group">
            <label for="name" class="col-form-label">lastName:</label>
            <input type="text" ngModel="{{user?.lastName}}" class="form-control" id="lastName" name="lastName" value="{{user?.lastName}}" required>
          </div>
          <div class="form-group">
            <label for="name" class="col-form-label">Email:</label>
            <input type="text" ngModel="{{user?.email}}" class="form-control" id="email" name="email" value="{{user?.email}}" required>
          </div>
          <div class="form-group">
            <label for="name" class="col-form-label">Password:</label>
            <input type="text" ngModel="{{user?.password}}" class="form-control" id="password" name="password" value="{{user?.password}}" required>
          </div>
          <div class="form-group">
            <label for="name" class="col-form-label">Role:</label>
            <input type="text" ngModel="{{user?.role}}" class="form-control" id="role" name="role" value="{{user?.role}}" required>
          </div>
          <div class="form-group">
            <label for="name" class="col-form-label">Phone:</label>
            <input type="text" ngModel="{{user?.phone}}" class="form-control" id="phone" name="phone" value="{{user?.phone}}" required>
          </div>
          <div class="form-group">
            <label for="name" class="col-form-label">ImageUrl:</label>
            <input type="text" ngModel="{{user?.imageUrl}}" class="form-control" id="imageUrl" name="imageUrl" value="{{user?.imageUrl}}" required>
          </div>
      </div>
      <div class="modal-footer">
        <input type="hidden" ngModel="{{user?.id}}" class="form-control" id="id" name="id" value="{{user?.id}}" >
        <input type="hidden" ngModel="{{user?.createdAt}}" class="form-control" id="createdAt" name="createdAt" value="{{user?.createdAt}}" >
        <input type="hidden" ngModel="{{user?.updatedAt}}" class="form-control" id="updatedAt" name="updatedAt" value="{{user?.updatedAt}}" >

        <button type="button" id="updateClose" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit"  class="btn btn-primary">Update</button>
      </div>
    </form>
    </div>
  </div>
</div>

<div class="modal fade" id="deleteUserModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete User </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete  <Strong>{{user?.firstName}} {{user?.lastName}}</Strong>?</p>
      </div>
      <div class="modal-footer">
        <button type="button" id="deleteClose" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" (click)="onDeleteUser(user.id)" class="btn btn-primary">Delete</button>
      </div>
    </div>
  </div>
</div>
</div>